[submodule "src/Libs/uBitcoin"]
	path = src/Libs/uBitcoin
	url = git@github.com:micro-bitcoin/uBitcoin.git
[submodule "src/Libs/lvgl"]
	path = src/Libs/lvgl
	url = git@github.com:lvgl/lvgl.git
[submodule "src/Libs/sdl2"]
	path = src/Libs/sdl2
	url = https://gitlab.com/aminosbh/sdl2-cmake-modules.git
[submodule "src/Libs/lv_drivers"]
	path = src/Libs/lv_drivers
	url = git@github.com:lvgl/lv_drivers.git
